body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.timer{
    position: absolute;
    left:50px;
    top:50px;
    font-size: 2rem;
}
.grid{
    border: 1px solid rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: column;
    gap:0px
}
.row{
    display: flex;
    flex-direction: row;
    gap:0px
}
.cell{
    border: 1px solid rgba(0, 0, 0, 0.144);
    width: 30px;
    height: 30px;
}
.object{
    border: 2px solid rgb(110, 53, 53) !important;
    background-color:white;
}
.red{
    background-color: red;
}
 .green{
    background-color: green;
 }
 .blue{
    background-color: blue;
 }
 .brown{
    background-color: brown;
 }
